* {
    font-size: 12px;
    font-family: 'Times New Roman';
}

td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.producto,
th.producto {
    width: 75px;
    max-width: 75px;
}

td.cantidad,
th.cantidad {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

td.precio,
th.precio {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

.center {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 155px;
    max-width: 155px;
}

img {
    max-width: inherit;
    width: inherit;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-three {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-gap: 10px;
}

.column-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid: 10px;
}

.btn-print {
    background-color: #167347;
    color: #fff;
    padding: .500rem .500rem;
    border-color: #167347;
    box-shadow: none;
    font-size: 1.5em;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media print {
    .hidde-print,
    .hidde-print * {
        display: none !important;
    }
}